{% extends "_layouts/cp" %}

{% set docTitle = 'Response Message' %}

{% import "_includes/forms" as forms %}
{% set fullPageForm = true %}

{% from _self import urlFormatInput, hasUrlsField, templateField %}

{% block content %}
	<input type="hidden" name="action" value="sections/saveSection">
	<input type="hidden" name="redirect" value="settings/sections">

	{# {{ dump( messagedetails.id ) }} #}

	{% if messagedetails.id %}<input type="hidden" name="messageID" value="{{ messagedetails.id }}">{% endif %}

	

	{{ forms.textField({
		first: true,
		label: "First Name"|t,
		id: 'firstname',
		name: 'firstname',
		value: messagedetails.firstname,
		autofocus: true,
		required: true,
		translatable: true
	}) }}

	{{ forms.textField({
		label: "Last Name"|t,
		id: 'lastname',
		class: 'code',
		name: 'lastname',
		value: messagedetails.lastname,
		required: true
	}) }}
	
{% endblock %}