{% extends "_layouts/cp" %}

{% set title = "Contact Messages"|t %}

{% set tabs = {
    requestasample: { label: "Request A Sample"|t, url: url('contactmessages') },
    askaquestion: { label: "Ask Us A Question"|t, url: url('contactmessages/askaquestion') }
} %}

{% set selectedTab = 'askaquestion' %}

{% set content %}
    <p>Hello!</p>
{% endset %}