{% extends "_layouts/cp" %}

{% set title = "Contact Messages"|t %}

{% set tabs = {
    recent: { label: "Request A Sample"|t, url: url('contactmessages') },
    new:    { label: "Ask Us A Question"|t, url: url('contactmessages/askaquestion') }
} %}

{% set content %}
	<div class="grid">
	  	<div class="item">
	    	<div class="pane">
	    		<div id="content" class="content">
	    			<div class="body">
	    				<table id="sections" class="data fullwidth collapsible">
						<thead>
							<tr>
								<th scope="col">Title</th>
								<th scope="col">Action</th>
								<td class="thin"></td>
							</tr>
						</thead>
						<tbody>
							{% for message in craft.contactMessages.getAllMessages() %}
						    	<tr>
						    		<td><a href="{{ url('contactmessages/' ~ message.id) }}">{{ message.firstname }}</a></td>
						    		<td></td>
						    	</tr>
							{% endfor %}
						</tbody>
						</table>
	    			</div>
	    		</div>
			</div>
		</div>
	</div>
{% endset %}