body {
  background-image: url("images/slicing101_32.png"); }
  
* {
  font-size: 16px;
  font-weight: 200; }

.circlegreen {
  border-radius: 50%;
  background-color: #cbd034;
  padding: 23px;
  margin-right: 20px;
  font-size: 25px; }
  .circlegreen img {
    width: 30px; }

.glyphicon-download-alt {
  border-radius: 50%;
  background-color: #cbd034;
  height: 70px;
  width: 70px;
  padding: 22px;
  margin-right: 20px;
  color: #fff;
  font-size: 25px; }

.navbar-collapse {
  background-color: #fff; }

.nav > li > a {
  padding: 15px 0 !important;
  margin: 0 15px; }

.navbar-toggle {
  margin-top: 5px !important; }

.navbar-brand {
  padding: 3px 15px !important; }

.btn-warning.submit {
  background-color: #ffb500 !important;
  border-color: #ffb500 !important;
  padding: 1% 8% !important;
  color: #000;
  font-weight: bold;
  margin: 4% 0; }

.navbar-fixed-top {
  background-color: #fff !important;
  height: 67px !important;
  margin-bottom: 0 !important; }
  .navbar-fixed-top .container {
    margin-top: 10px; }
  .navbar-fixed-top .navbar-collapse .navbar-nav {
    margin-left: 5%; }
  .navbar-fixed-top li.active a {
    background-color: #fff !important;
    font-weight: 500;
    border-bottom: 6px solid #539ed8; }
  .navbar-fixed-top li a {
    font-size: 16px; }
  .navbar-fixed-top li a:hover {
    border-bottom: 6px solid #539ed8; }

.box1 {
  background-color: #fff;
  margin: 159px auto 133px;
  border: 1px solid #cccccc; }
  .box1 .box1_1 {
    text-align: center; }
    .box1 .box1_1 .box1_1_title {
      height: 25%;
      margin-top: 5%; }
    .box1 .box1_1 .box1_1_image {
      height: 65%;
      width: 100%; }
      .box1 .box1_1 .box1_1_image img {
        max-width: 100%;
        max-height: 100%; }
  .box1 .box1_2 .col-sm-4 {
    padding: 0;
    text-align: center; }
    .box1 .box1_2 .col-sm-4 img {
      max-width: 100%;
      max-height: 100%; }
  .box1 .col1 {
    border-top: 3px solid #539ed8;
    border-right: 1px solid #cccccc;
    height: 100%; }
  .box1 .col2 {
    border-top: 3px solid #cacf34;
    border-right: 1px solid #cccccc;
    height: 100%; }
  .box1 .col3 {
    border-top: 3px solid #ffb500;
    height: 100%; }

.box2 {
  background-color: #fff; }
  .box2 .box2_1 {
    margin: 5% auto;
    text-align: center; }
    .box2 .box2_1 img {
      max-width: 100%;
      max-height: 100%; }
  .box2 .box2_2 {
    margin: 5% auto; }
    .box2 .box2_2 .row {
      margin: 3% auto; }
      .box2 .box2_2 .row img {
        margin-right: 10%;
        max-width: 31px;
        max-height: 31px; }
    .box2 .box2_2 hr {
      border-top: 1px solid #000 !important;
      margin-bottom: 20px !important; }
  .box2 .col2 {
    text-align: justify; }
    .box2 .col2 hr {
      border-top: 1px solid #000 !important;
      margin-bottom: 20px !important; }

.box3 .box3_1 {
  margin: 5% auto;
  border-left: 5px solid #539ed8;
  padding-left: 2%; }

.box4 .box4_1 {
  text-align: center;
  margin: 5% 0; }
  .box4 .box4_1 h2 {
    text-decoration: underline; }

.box4 .box4_2 {
  margin-bottom: 5%; }
  .box4 .box4_2 li {
    padding: 1%;
    font-weight: 200; }

.box4 .box4_3 .row1 {
  margin-bottom: 5%; }

.box5 {
  background-color: #f6f5f6;
  marign: 10% auto; }
  .box5 .box5_1 {
    margin: 3% auto;
    text-align: center; }

.box6 {
  background-color: #fff; }
  .box6 .box6_1 {
    margin-top: 1.5%; }
    .box6 .box6_1 .col-md-6 {
      margin-bottom: 5px; }
    .box6 .box6_1 hr {
      border-top: 1px solid #000 !important;
      margin-bottom: 20px !important; }
  .box6 .box6_2 {
    margin: 3.5% auto; }
    .box6 .box6_2 .col-md-6 {
      margin-bottom: 5px; }
    .box6 .box6_2 hr {
      border-top: 1px solid #000 !important;
      margin-bottom: 20px !important; }

.footer {
  background-color: #b9b9b9; }
  .footer .container {
    margin: 1% auto;
    color: #fff;
    font-size: 13px;
    font-weight: 200; }

.content {
  padding-top: 6%;
  margin-bottom: 3%;
}
.newsbody{
  max-height: 200px;
  min-height: 200px;
}
.content .row {
  background-color: #fff;
}

.contentbody{
  background-color: #fff;
  padding: 1%;
}

.categorybar {
  text-align: center;
  background-color: #b9b9b9 !important;
}

.categorybar ul {
  list-style: none;
  display: inline;
}

.categorybar ul li {
  width: auto;
  float: left;
  padding: 2% 2%;
  border-right: 1px solid #fff;
  cursor: pointer;
}

.categorybar ul li:hover {
  background-color: #fff;
}
