<div class="container-fluid footer">
	<div class="container">
		© 2015 NXP B.V. All rights reserved. Reproduction in whole or in part is prohibited without the prior written consent of the copyright owner. The information presented in this document does not form part of any
		qoutation or contract, is believed  to be accurate and reliable and may be changed without notice. No liability will be accepted by the publisher for any consequence of its use. Publication does not convey nor
		imply any license under patent or other industrial or intellectual property rights.
	</div>
</div>

<!-- All javascript starts here -->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>