<!DOCTYPE html>
<html>
<head>
	<title>
    {% if title is defined %}{{ title }} - {% endif %}{{ siteName }}
	</title>
  <link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ siteUrl }}"><img src="{{ siteUrl }}images/slicing101_03.png" /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

          {% for entry in craft.entries.section('menus').order('dateCreated').find() %}
            {% if entry.menuId|length %}
              <li><a href="{{ '#' ~ entry.menuId }}">{{ entry.title }}</a></li>
            {% else %}
              <li><a href="{{ '/' ~ entry.menuUrl }}">{{ entry.title }}</a></li>
            {% endif %}
          {% endfor %}

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>