{% include "_header" %}

{% block content %}

{% endblock %}

<div class="container-fluid box4" id="contact">
	<div class="container box4_3">
		<h2 style="margin-bottom: 4%;">Contact Us</h2>

		{# <form method="post" action="" accept-charset="UTF-8"> #}
			{# {{ getCsrfInput() }}
		    <input type="hidden" name="action" value="guestEntries/saveEntry">
		    <input type="hidden" name="sectionId" value="6">
		    <input type="hidden" id="title" type="text" name="title" value="samplesample"> #}

			{# <div class="row row1">
				<div class="col-md-12">
					<label class="radio-inline"><input type="radio" name="fields[requestASampleAskUsAQuestion]" value=1 checked>Request a Sample</label>
					<label class="radio-inline"><input type="radio" name="fields[requestASampleAskUsAQuestion]" value=0>Ask us a question</label>
				</div>
			</div>
			<div class="row">
			    <div class="col-md-3">
			    	<div class="form-group">
					    <label for="inputdefault">First Name</label>
					    <input class="form-control" type="text" name="fields[firstName]">
					</div>
			    </div>
			    <div class="col-md-3">
			    	<div class="form-group">
					    <label for="inputdefault">Last Name</label>
					    <input class="form-control" type="text" name="fields[lastName]">
					</div>
			    </div>
			    <div class="col-md-6">
			    	<div class="form-group">
					    <label for="inputdefault">Email Address</label>
					    <input class="form-control" type="text" name="fields[emailAddress]">
					</div>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
					    <label for="inputdefault">Company</label>
					    <input class="form-control" type="text" name="fields[company]">
					</div>
			    </div>
			    <div class="col-md-6">
			    	<div class="form-group">
					    <label for="inputdefault">Phone Number</label>
					    <input class="form-control" type="text" name="fields[phoneNumber]">
					</div>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
					    <label for="comment">Tell Us About Your Project</label>
					    <textarea class="form-control" rows="5" name="fields[message]"></textarea>
					</div>
				</div>
			</div> #}

		<form id="contactmessage-form" action="" class="form" method="post" accept-charset="UTF-8">
			<input type="hidden" name="action" value="/ContactMessages/Main/SaveMessage">

			<div class="row row1">
				<div class="col-md-12">
					<label class="radio-inline"><input type="radio" name="isQuestion" value=0 checked>Request a Sample</label>
					<label class="radio-inline"><input type="radio" name="isQuestion" value=1>Ask us a question</label>
				</div>
			</div>
			<div class="row">
			    <div class="col-md-3">
			    	<div class="form-group">
					    <label for="inputdefault">First Name</label>
					    <input class="form-control" type="text" name="firstname">
					</div>
			    </div>
			    <div class="col-md-3">
			    	<div class="form-group">
					    <label for="inputdefault">Last Name</label>
					    <input class="form-control" type="text" name="lastname">
					</div>
			    </div>
			    <div class="col-md-6">
			    	<div class="form-group">
					    <label for="inputdefault">Email Address</label>
					    <input class="form-control" type="text" name="emailaddress">
					</div>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
					    <label for="inputdefault">Company</label>
					    <input class="form-control" type="text" name="companyname">
					</div>
			    </div>
			    <div class="col-md-6">
			    	<div class="form-group">
					    <label for="inputdefault">Phone Number</label>
					    <input class="form-control" type="text" name="phonenumber">
					</div>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
					    <label for="comment">Tell Us About Your Project</label>
					    <textarea class="form-control" rows="5" name="messagebody"></textarea>
					</div>
				</div>
			</div>

			<button type="button submit" class="btn btn-warning btn-lg submit" value="Publish">Submit</button>
		</form>
	</div>
</div>


{% include "_footer" %}
