{% include '_header' %}

<div class="container content">
	<div class="row categorybar" id="filters">
		<ul>
			<li data-filter="*">All</li>
			{% for category in craft.categories.group('category1') %}
				<li data-filter="{{ category.slug }}">{{ category.title }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="row grid">
		{% for category in craft.categories.group('category1') %}

			{% for entry in craft.entries.section('news').relatedTo( craft.categories.slug( category.slug ) ).find() %}
				<div class="col-md-4 newsbody element-item {{ category.slug }}" data-category="{{ category.slug }}">
					<h3>{{ entry.title }}</h3>
					<div>
						{% if entry.body|length > 200 %}
							{{ entry.body|striptags|slice(0,200) }}<a href="{{ entry.uri }}">...read more</a>
						{% else %}
							{{ entry.body }}
						{% endif %}
					</div>
				</div>
			{% endfor %}

		{% endfor %}
	</div>
</div>

{% include '_footer' %}